
  <div class=" [ stack ]">
    <a href="/work/" style="color:var(--green)"><h2>{{ highlight.header }}</h2></a>
      <div class=" [ with-sidebar ] ">
        <div class="" style="padding:0; margin:0;">
          <a href="/work/" >
            {% include "partials/svg/eye-pink.svg" %}
          </a>
        </div>
        <div class="[ stack ]">
          <!-- <a href="{{highlight.first.href}}" style="color: black; font-weight: 800;"> -->
            <h3 style="color: black; font-weight: 800;">{{ highlight.first.title }}</h3>
          <!-- </a> -->
          <p class="[ small ]">{{ highlight.first.blurb }}</p>
        </div>
      </div>

  
        <!-- Needs to be inline -->
    </div>