<a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a>
<header role="banner" class="site-head" style="padding-top:1rem">
  <div class="wrapper">
    <div class="switcher">
      <a href="/" aria-label="{{ site.name }} - home" class="site-head__brand">
        {% include "partials/svg/logo.svg" %}
      </a>
      <nav class="" aria-label="Primary" style="padding:0;">
        <ul class="cluster" style="justify-content:flex-start; padding:0;">
          {% for item in navigation.items %}
          <li>
            <a href="{{ item.url }}" class="links" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}
              >{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>